/* body*/

.container {
    text-align: center;
  }
  
  .timer {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  /* div for control button and :hover */


  .controls {
    display: flex;
    justify-content: center;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  /* background color for start stop and reset buttons */


  #start {
    background-color: #27ae60;
  }
  
  #stop {
    background-color: #c0392b;
  }
  
  #reset {
    background-color: #7f8c8d;
  }
  